<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp uap4 iot uap3">

  <Identity
    Name="15586SoftWeather.ClanLauncher"
    Publisher="CN=843DFED1-8B93-4C85-B0CA-53EED5BE13E5"
    Version="1.3.20.0" />

  <mp:PhoneIdentity PhoneProductId="2f590b54-ccc4-4c48-9340-27c2f82ff3f7" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ClanLauncher</DisplayName>
    <PublisherDisplayName>SoftWeather</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="PCClubApp.App">
      <uap:VisualElements
        DisplayName="ClanLauncher"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="PCClubApp"
        BackgroundColor="transparent" Square150x150Logo="Assets\Square150x150Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="clanapp" DesiredView="default">
            <uap:Logo>Clan.png</uap:Logo>
            <uap:DisplayName>ClanLaunch</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap4:Capability Name="offlineMapsManagement"/>
    <Capability Name="internetClientServer"/>
    <Capability Name="privateNetworkClientServer"/>
    <iot:Capability Name="systemManagement"/>
    <uap:Capability Name="picturesLibrary"/>
    <Capability Name="allJoyn"/>
    <DeviceCapability Name="proximity"/>
  </Capabilities>
</Package>